# LaTeX auxiliary and temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.vtc
*.snm
*.nav
*.out
*.synctex.gz
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml

# Intermediate and temporary files
*.tmp
*.bak
